In [125]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [126]:
df=pd.read_csv(r"C:\Users\BHARGAVI\OneDrive\Documents\all_season_details.csv")

C:\Users\BHARGAVI\AppData\Local\Temp\ipykernel_19396\139627852.py:1: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(r"C:\Users\BHARGAVI\OneDrive\Documents\all_season_details.csv")

In [127]:
details_df = df[['season', 'match_id', 'batsman1_name', 'runs', 'isBoundary', 'isWide', 'isNoball']]
details_df

        season  match_id    batsman1_name  runs  isBoundary  isWide  isNoball
0       2023.0   1359475     Devon Conway     0       False   False     False
1       2023.0   1359475     Devon Conway     1       False   False     False
2       2023.0   1359475  Ruturaj Gaikwad     0       False   False     False
3       2023.0   1359475  Ruturaj Gaikwad     1       False   False     False
4       2023.0   1359475     Devon Conway     0       False   False     False
...        ...       ...              ...   ...         ...     ...       ...
242545  2008.0    336040      Shane Warne     0       False   False     False
242546  2008.0    336040      Shane Warne     1       False   False     False
242547  2008.0    336040      Shane Warne     1       False   False     False
242548  2008.0    336040    Sohail Tanvir     2       False    True     False
242549  2008.0    336040    Sohail Tanvir     2       False   False     False

[242550 rows x 7 columns]

In [129]:
details_df= details_df.dropna(subset=['season', 'batsman1_name', 'runs'])

# Fix data types for consistency
details_df['season'] = details_df['season'].astype(int)
details_df['isBoundary'] = details_df['isBoundary'].fillna(0).astype(bool)
details_df['isWide'] = details_df['isWide'].fillna(0).astype(bool)

In [130]:
details_df.head()

   season  match_id    batsman1_name  runs  isBoundary  isWide  isNoball
0    2023   1359475     Devon Conway     0       False   False     False
1    2023   1359475     Devon Conway     1       False   False     False
2    2023   1359475  Ruturaj Gaikwad     0       False   False     False
3    2023   1359475  Ruturaj Gaikwad     1       False   False     False
4    2023   1359475     Devon Conway     0       False   False     False

In [131]:
grouped = details_df.groupby(['season', 'batsman1_name']).agg(
    total_runs=('runs', 'sum'),
    total_matches=('match_id', 'nunique'),
    balls_played=('isWide', lambda x: (~x).sum()),  # Count non-wide balls
    boundaries=('isBoundary', 'sum')  # Count boundary balls
).reset_index()

In [132]:
grouped.head()

   season   batsman1_name  total_runs  total_matches  balls_played  boundaries
0    2008  AB de Villiers          99              6            98           6
1    2008   Aakash Chopra          45              5            52           5
2    2008    Abdur Razzak           0              1             2           0
3    2008  Abhishek Nayar         216             10           136          25
4    2008  Adam Gilchrist         460             14           318          70

In [133]:
grouped['batsman1_name'].value_counts()

batsman1_name
Virat Kohli        16
Dinesh Karthik     16
Wriddhiman Saha    16
Shikhar Dhawan     16
Rohit Sharma       16
                   ..
Mohammad Asif       1
Luke Wright         1
Kusal Perera        1
Mohammad Hafeez     1
Yudhvir Singh       1
Name: count, Length: 637, dtype: int64

In [134]:
grouped.loc[grouped['batsman1_name']=='Rohit Sharma',:]

,season,batsman1_name,total_runs,total_matches,balls_played,boundaries
99,2008,Rohit Sharma,419,12,273,57
257,2009,Rohit Sharma,379,16,315,40
419,2010,Rohit Sharma,410,16,297,48
589,2011,Rohit Sharma,382,13,297,45
768,2012,Rohit Sharma,448,16,342,57
942,2013,Rohit Sharma,548,19,409,63
1078,2014,Rohit Sharma,391,15,300,46
1208,2015,Rohit Sharma,492,16,333,62
1343,2016,Rohit Sharma,498,14,368,65
1482,2017,Rohit Sharma,349,16,273,40
1626,2018,Rohit Sharma,297,14,215,37
1765,2019,Rohit Sharma,410,15,315,62
1896,2020,Rohit Sharma,353,12,260,46
2041,2021,Rohit Sharma,399,13,299,47
2207,2022,Rohit Sharma,288,14,223,41
2383,2023,Rohit Sharma,329,15,237,49

In [135]:
batsman_names = sorted(grouped['batsman1_name'].unique())
print("Batsman Names:")
for i,name in enumerate(batsman_names):
    print(f'{i} : {name}')

Batsman Names:
0 : AB de Villiers
1 : Aakash Chopra
2 : Aaron Finch
3 : Abdul Basith
4 : Abdul Samad
5 : Abdur Razzak
6 : Abhijeet Tomar
7 : Abhimanyu Mithun
8 : Abhinav Manohar
9 : Abhinav Mukund
10 : Abhishek Jhunjhunwala
11 : Abhishek Nayar
12 : Abhishek Raut
13 : Abhishek Sharma
14 : Abishek Porel
15 : Abu Nechim
16 : Adam Gilchrist
17 : Adam Milne
18 : Adam Voges
19 : Adam Zampa
20 : Adil Rashid
21 : Aditya Dole
22 : Aditya Tare
23 : Adrian Barath
24 : Aiden Blizzard
25 : Aiden Markram
26 : Ajantha Mendis
27 : Ajinkya Rahane
28 : Ajit  Chandila
29 : Ajit Agarkar
30 : Akash Deep
31 : Akeal Hosein
32 : Akila Dananjaya
33 : Akshath Reddy
34 : Akshdeep Nath
35 : Albie Morkel
36 : Alex Carey
37 : Alex Hales
38 : Alfonso Thomas
39 : Ali Murtaza
40 : Alzarri Joseph
41 : Aman Hakim Khan
42 : Ambati Rayudu
43 : Amit Mishra
44 : Amit Paunikar
45 : Amit Singh
46 : Amit Uniyal
47 : Andre Russell
48 : Andrew Flintoff
49 : Andrew McDonald
50 : Andrew Symonds
51 : Andrew Tye
52 : Angelo Mathews
53 : Aniket Choudhary
54 : Anil Kumble
55 : Anirudh Singh
56 : Ankeet Chavan
57 : Ankit Bawne
58 : Ankit Rajpoot
59 : Ankit Sharma
60 : Ankit Soni
61 : Anmolpreet Singh
62 : Anrich Nortje
63 : Anuj Rawat
64 : Anukul Roy
65 : Anureet Singh
66 : Anustup Majumdar
67 : Arindam Ghosh
68 : Arjun Tendulkar
69 : Arjun Yadav
70 : Arshad Khan
71 : Arshdeep Singh
72 : Arun Karthik
73 : Asad Pathan
74 : Ashish Nehra
75 : Ashish Reddy
76 : Ashley Noffke
77 : Ashok Dinda
78 : Ashok Menaria
79 : Ashton Turner
80 : Atharva Taide
81 : Avesh Khan
82 : Axar Patel
83 : Ayush Badoni
84 : Azhar Bilakhia
85 : Azhar Mahmood
86 : Baba Indrajith
87 : Balachandra Akhil
88 : Barinder Sran
89 : Basil Thampi
90 : Ben Cutting
91 : Ben Dunk
92 : Ben Laughlin
93 : Ben Rohrer
94 : Ben Stokes
95 : Beuran Hendricks
96 : Bhanuka Rajapaksa
97 : Bharat Chipli
98 : Bhargav Bhatt
99 : Bhuvneshwar Kumar
100 : Billy Stanlake
101 : Biplab Samantray
102 : Bipul Sharma
103 : Bodapati Sumanth
104 : Brad Haddin
105 : Brad Hodge
106 : Brad Hogg
107 : Brendon McCullum
108 : Brett Lee
109 : Callum Ferguson
110 : Cameron Green
111 : Cameron White
112 : Carlos Brathwaite
113 : Chamara Kapugedera
114 : Chamara Silva
115 : Chaminda Vaas
116 : Chandan Madan
117 : Charl Langeveldt
118 : Chetan Sakariya
119 : Chetanya Nanda
120 : Cheteshwar Pujara
121 : Chidhambaram Gautam
122 : Chris Gayle
123 : Chris Jordan
124 : Chris Lynn
125 : Chris Morris
126 : Chris Woakes
127 : Clint McKay
128 : Colin Ingram
129 : Colin Munro
130 : Colin de Grandhomme
131 : Corey Anderson
132 : D'Arcy Short
133 : Dale Steyn
134 : Damien Martyn
135 : Dan Christian
136 : Daniel Christian
137 : Daniel Harris
138 : Daniel Sams
139 : Daniel Vettori
140 : Daren Sammy
141 : Darren Bravo
142 : Darren Lehmann
143 : Darshan Nalkande
144 : Daryl Mitchell
145 : Dasun Shanaka
146 : David Hussey
147 : David Miller
148 : David Warner
149 : David Wiese
150 : David Willey
151 : Davy Jacobs
152 : Dawid Malan
153 : Debabrata Das
154 : Deepak Chahar
155 : Deepak Hooda
156 : Devdutt Padikkal
157 : Devon Conway
158 : Devraj Patil
159 : Dewald Brevis
160 : Dhawal Kulkarni
161 : Dhruv Jurel
162 : Dhruv Shorey
163 : Dilhara Fernando
164 : Dillon du Preez
165 : Dimitri Mascarenhas
166 : Dinesh Karthik
167 : Dinesh Salunkhe
168 : Dirk Nannes
169 : Dishant Yagnik
170 : Doddapaneni Kalyankrishna
171 : Dominic Thornely
172 : Domnic Muthuswami
173 : Doug Bollinger
174 : Doug Bracewell
175 : Dushmantha Chameera
176 : Dwaine Pretorius
177 : Dwaraka Ravi Teja
178 : Dwayne Bravo
179 : Dwayne Smith
180 : Eklavya Dwivedi
181 : Eoin Morgan
182 : Evin Lewis
183 : Fabian Allen
184 : Faf du Plessis
185 : Faiz Fazal
186 : Farhaan Behardien
187 : Farveez Maharoof
188 : Fazalhaq Farooqi
189 : Fidel Edwards
190 : Gautam Gambhir
191 : George Bailey
192 : George Garton
193 : Glenn Maxwell
194 : Glenn McGrath
195 : Glenn Phillips
196 : Gnaneswara Rao
197 : Graeme Smith
198 : Graham Napier
199 : Gurkeerat Singh Mann
200 : Halhadar Das
201 : Hanuma Vihari
202 : Harbhajan Singh
203 : Hardik Pandya
204 : Hardus Viljoen
205 : Harmeet Singh
206 : Harpreet Brar
207 : Harpreet Singh
208 : Harry Brook
209 : Harry Gurney
210 : Harshal Patel
211 : Harshit Rana
212 : Hashim Amla
213 : Heinrich Klaasen
214 : Herschelle Gibbs
215 : Hrithik Shokeen
216 : Imran Tahir
217 : Iqbal Abdulla
218 : Irfan Pathan
219 : Ish Sodhi
220 : Ishan Kishan
221 : Ishan Malhotra
222 : Ishank Jaggi
223 : Ishant Sharma
224 : Ishwar Pandey
225 : Isuru Udana
226 : Jacob Oram
227 : Jacques Kallis
228 : Jagadeesh Arunkumar
229 : Jagadeesha Suchith
230 : Jamaluddin Syed Mohammad
231 : James Faulkner
232 : James Franklin
233 : James Hopes
234 : James Neesham
235 : James Pattinson
236 : Jaskaran Singh
237 : Jason Behrendorff
238 : Jason Holder
239 : Jason Roy
240 : Jasprit Bumrah
241 : Javon Searles
242 : Jayant Yadav
243 : Jaydev Unadkat
244 : Jean-Paul Duminy
245 : Jeevan Mendis
246 : Jerome Taylor
247 : Jesse Ryder
248 : Jhye Richardson
249 : Jitesh Sharma
250 : Joe Denly
251 : Joe Root
252 : Jofra Archer
253 : Joginder Sharma
254 : Johan Botha
255 : Johan van der Wath
256 : Jonny Bairstow
257 : Jos Buttler
258 : Josh Hazlewood
259 : Josh Philippe
260 : Justin Kemp
261 : KC Cariappa
262 : KL Rahul
263 : KM Asif
264 : KP Appanna
265 : Kagiso Rabada
266 : Kamlesh Nagarkoti
267 : Kamran Akmal
268 : Kamran Khan
269 : Kane Richardson
270 : Kane Williamson
271 : Karan Goel
272 : Karan Sharma
273 : Karanveer Singh
274 : Karn Sharma
275 : Kartik Tyagi
276 : Karun Nair
277 : Kedar Jadhav
278 : Keemo Paul
279 : Kemar Roach
280 : Kevin Pietersen
281 : Kevon Cooper
282 : Khaleel Ahmed
283 : Kieron Pollard
284 : Krishnakant  Upadhyay
285 : Krishnappa Gowtham
286 : Krunal Pandya
287 : Kuldeep Sen
288 : Kuldeep Yadav
289 : Kuldip Yadav
290 : Kumar Kartikeya
291 : Kumar Sangakkara
292 : Kusal Perera
293 : Kyle Abbott
294 : Kyle Jamieson
295 : Kyle Mayers
296 : Lakshmipathy Balaji
297 : Lalit Yadav
298 : Lasith Malinga
299 : Laxmi Shukla
300 : Lee Carseldine
301 : Lendl Simmons
302 : Liam Livingstone
303 : Liam Plunkett
304 : Litton Das
305 : Lockie Ferguson
306 : Love Ablish
307 : Luke Pomersbach
308 : Luke Ronchi
309 : Luke Wright
310 : M Shahrukh Khan
311 : MS Dhoni
312 : Maheesh Theekshana
313 : Mahela Jayawardene
314 : Mahesh Rawat
315 : Mahipal Lomror
316 : Makhaya Ntini
317 : Manan Vohra
318 : Mandeep Singh
319 : Manish Pandey
320 : Manoj Tiwary
321 : Manpreet Gony
322 : Manprit Juneja
323 : Manvinder  Bisla
324 : Marchant de Lange
325 : Marco Jansen
326 : Marcus Stoinis
327 : Mark Boucher
328 : Mark Wood
329 : Marlon Samuels
330 : Martin Guptill
331 : Mashrafe Mortaza
332 : Matthew Hayden
333 : Matthew Short
334 : Matthew Wade
335 : Mayank Agarwal
336 : Mayank Markande
337 : Michael Bracewell
338 : Michael Clarke
339 : Michael Hussey
340 : Michael Klinger
341 : Michael Lumb
342 : Misbah-ul-Haq
343 : Mitchell Johnson
344 : Mitchell Marsh
345 : Mitchell McClenaghan
346 : Mitchell Santner
347 : Mitchell Starc
348 : Mithun Manhas
349 : Moeen Ali
350 : Mohammad Ashraful
351 : Mohammad Asif
352 : Mohammad Hafeez
353 : Mohammad Kaif
354 : Mohammad Nabi
355 : Mohammed Shami
356 : Mohammed Siraj
357 : Mohit Rathee
358 : Mohit Sharma
359 : Mohnish  Mishra
360 : Mohsin Khan
361 : Moises Henriques
362 : Morne Morkel
363 : Morne van Wyk
364 : Mujeeb Ur Rahman
365 : Mukesh Choudhary
366 : Mukesh Kumar
367 : Munaf Patel
368 : Murali Kartik
369 : Murali Vijay
370 : Murugan Ashwin
371 : Musavir Khote
372 : Mustafizur Rahman
373 : Muttiah Muralitharan
374 : Naman Ojha
375 : Narayan Jagadeesan
376 : Nathan Coulter-Nile
377 : Nathan Ellis
378 : Nathan McCullum
379 : Nathan Rimmington
380 : Navdeep Saini
381 : Naveen-ul-Haq
382 : Nayan Doshi
383 : Nehal Wadhera
384 : Nic Maddinson
385 : Nicholas Pooran
386 : Nikhil Naik
387 : Niraj Patel
388 : Nitin Saini
389 : Nitish Rana
390 : Noor Ahmad
391 : Nuwan Kulasekara
392 : Nuwan Zoysa
393 : Obed McCoy
394 : Odean Smith
395 : Owais Shah
396 : PM Sarvesh Kumar
397 : Paidikalva Vijaykumar
398 : Pankaj Singh
399 : Paras Dogra
400 : Pardeep Sahu
401 : Parthiv Patel
402 : Parvez Rasool
403 : Parvinder Awana
404 : Pat Cummins
405 : Paul Collingwood
406 : Paul Valthaty
407 : Pawan Negi
408 : Peter Handscomb
409 : Phil Salt
410 : Pinal Shah
411 : Piyush Chawla
412 : Prabhsimran Singh
413 : Pradeep Sangwan
414 : Pragyan Ojha
415 : Prasanth Parameswaran
416 : Prashant Chopra
417 : Prasidh Krishna
418 : Praveen Dubey
419 : Praveen Kumar
420 : Pravin Tambe
421 : Prayas Ray Barman
422 : Prerak Mankad
423 : Prithvi Raj
424 : Prithvi Shaw
425 : Priyam Garg
426 : Quinton de Kock
427 : RP Singh
428 : Rahmanullah Gurbaz
429 : Rahul Chahar
430 : Rahul Dravid
431 : Rahul Sharma
432 : Rahul Shukla
433 : Rahul Tewatia
434 : Rahul Tripathi
435 : Raiphi Gomez
436 : Rajagopal Sathish
437 : Rajat Bhatia
438 : Rajat Patidar
439 : Rajesh Bishnoi
440 : RajÂ Bawa
441 : Ramandeep Singh
442 : Ramesh Powar
443 : Ramnaresh Sarwan
444 : Rashid Khan
445 : Rasikh Salam
446 : Rassie van der Dussen
447 : Ravi Bishnoi
448 : Ravi Bopara
449 : Ravi Rampaul
450 : Ravichandran Ashwin
451 : Ravindra Jadeja
452 : Reetinder Sodhi
453 : Richard Levi
454 : Ricky Bhui
455 : Ricky Ponting
456 : Rilee Rossouw
457 : Riley Meredith
458 : Rinku Singh
459 : Ripal Patel
460 : Rishabh Pant
461 : Rishi Dhawan
462 : Riyan Parag
463 : Rob Quiney
464 : Robin Peterson
465 : Robin Uthappa
466 : Roelof van der Merwe
467 : Rohan Gavaskar
468 : Rohan Raje
469 : Rohit Sharma
470 : Romario Shepherd
471 : Ronit More
472 : Ross Taylor
473 : Rovman Powell
474 : Rusty Theron
475 : Ruturaj Gaikwad
476 : Ryan Harris
477 : Ryan McLaren
478 : Ryan Ninan
479 : Ryan ten Doeschate
480 : S Badrinath
481 : Sachin Baby
482 : Sachin Rana
483 : Sachin Tendulkar
484 : Sachithra Senanayake
485 : Sai Sudharsan
486 : Salman Butt
487 : Sam Billings
488 : Sam Curran
489 : Samuel Badree
490 : Sanath Jayasuriya
491 : Sandeep Lamichhane
492 : Sandeep Sharma
493 : Sanjay Bangar
494 : Sanjay Yadav
495 : Sanju Samson
496 : Sanvir Singh
497 : Sarabjit Ladda
498 : Sarfaraz Khan
499 : Saurabh Tiwary
500 : Scott Styris
501 : Sean Abbott
502 : Shadab Jakati
503 : Shahbaz Ahmed
504 : Shahbaz Nadeem
505 : Shahid Afridi
506 : Shakib Al Hasan
507 : Shalabh Srivastava
508 : Shane Bond
509 : Shane Harwood
510 : Shane Warne
511 : Shane Watson
512 : Shardul Thakur
513 : Shashank Singh
514 : Shaun Marsh
515 : Shaun Pollock
516 : Shaun Tait
517 : Sheldon Cottrell
518 : Sheldon Jackson
519 : Sherfane Rutherford
520 : Shikhar Dhawan
521 : Shimron Hetmyer
522 : Shivam Dube
523 : Shivam Mavi
524 : Shivam Sharma
525 : Shivil Kaushik
526 : Shivnarine Chanderpaul
527 : Shoaib Ahmed
528 : Shoaib Akhtar
529 : Shoaib Malik
530 : Shoaib Shaikh
531 : Shreevats Goswami
532 : Shreyas Gopal
533 : Shreyas Iyer
534 : Shrikant Wagh
535 : Shubman Gill
536 : Siddarth Kaul
537 : Siddharth Chitnis
538 : Siddharth Trivedi
539 : Siddhesh Lad
540 : Sikandar Raza
541 : Simarjeet Singh
542 : Simon Katich
543 : Sohail Tanvir
544 : Sourav Ganguly
545 : Sreenath Aravind
546 : Sreesanth
547 : Sridharan Sriram
548 : Srikar Bharat
549 : Srikkanth Anirudha
550 : Stephen Fleming
551 : Steven Smith
552 : Stuart Binny
553 : Sudeep Tyagi
554 : Sumit Narwal
555 : Sunil Joshi
556 : Sunil Narine
557 : Sunny Gupta
558 : Sunny Singh
559 : Sunny Sohal
560 : Suraj Randiv
561 : Suresh Raina
562 : Suryakumar Yadav
563 : Suyash Prabhudessai
564 : Swapnil Asnodkar
565 : Swapnil Singh
566 : T Natarajan
567 : Tabraiz Shamsi
568 : Tanmay Srivastava
569 : Taruwar Kohli
570 : Tatenda Taibu
571 : Thalaivan Sargunam
572 : Thilan Thushara
573 : Thisara Perera
574 : Tilak Varma
575 : Tillakaratne Dilshan
576 : Tim David
577 : Tim Paine
578 : Tim Seifert
579 : Tim Southee
580 : Tirumalasetti Suman
581 : Tom Banton
582 : Tom Curran
583 : Travis Birt
584 : Travis Head
585 : Trent Boult
586 : Tristan Stubbs
587 : Tushar Deshpande
588 : Tymal Mills
589 : Tyron Henderson
590 : Uday Kaul
591 : Udit Birla
592 : Umar Gul
593 : Umesh Yadav
594 : Umran Malik
595 : Unmukt Chand
596 : Usman Khawaja
597 : VVS Laxman
598 : Vaibhav Arora
599 : Varun Aaron
600 : Varun Chakravarthy
601 : Veer Pratap Singh
602 : Venkatesh Iyer
603 : Venugopal Rao
604 : Vidyut Sivaramakrishnan
605 : Vijay Shankar
606 : Vijay Zol
607 : Vijaykumar Vyshak
608 : Vikram Singh
609 : Vikramjeet Malik
610 : Vikrant Yeligati
611 : Vinay Kumar
612 : Virat Kohli
613 : Virat Singh
614 : Virender Sehwag
615 : Vishnu Vinod
616 : Vivrant Sharma
617 : Wanindu Hasaranga
618 : Wanindu Hasaranga de Silva
619 : Washington Sundar
620 : Wasim Jaffer
621 : Wayne Parnell
622 : Wilkin Mota
623 : Wriddhiman Saha
624 : Yash Dhull
625 : Yashasvi Jaiswal
626 : Yashpal Singh
627 : Yo Mahesh
628 : Yogesh Nagar
629 : Yogesh Takawale
630 : Younis Khan
631 : Yudhvir Singh
632 : Yusuf Abdulla
633 : Yusuf Pathan
634 : Yuvraj Singh
635 : Yuzvendra Chahal
636 : Zaheer Khan

In [136]:
batsman_name = input("Enter the batsman name index: ")
print(f'You have selected {batsman_names[int(batsman_name)]}')
filtered_data = grouped.loc[grouped['batsman1_name']== batsman_names[int(batsman_name)]].reset_index().drop(['index'],axis=1)

Enter the batsman name index:  43

You have selected Amit Mishra

In [137]:
filtered_data.drop(['batsman1_name'],axis=1,inplace=True)

In [138]:
def check_stationarity(series):
    result=adfuller(series.dropna())
    print(result)
stationary_columns = []
non_stationary_columns = []
for column in filtered_data.columns[1:]: 
    p_value = check_stationarity(filtered_data[column])
    if p_value < 0.05:
        stationary_columns.append(column)
    else:
        non_stationary_columns.append(column)
for column in non_stationary_columns:
    filtered_data[column] = filtered_data[column].diff()
filtered_data = filtered_data.dropna()
filtered_data.set_index('season', inplace=True)
print(f"Filtered Data after Differencing:\n{filtered_data}")

NameError: name 'adfuller' is not defined

In [139]:
stationary_columns

[]

In [140]:
filtered_data.head(100)

    season  total_runs  total_matches  balls_played  boundaries
0     2008          37              3            42           3
1     2009          27              5            20           4
2     2010          45              7            51           1
3     2011          75              9            49          10
4     2012          17              5            20           1
5     2013          97              6            96           9
6     2014           8              2             7           0
7     2015           8              4            10           0
8     2016           4              2            14           0
9     2017          55              6            52           4
10    2018           1              1             2           0
11    2019          27              4            24           2
12    2023          19              1            30           2

In [141]:
# Train-test split
train_size = int(len(filtered_data) * 0.8)
train_data = filtered_data.iloc[:train_size]  # Train on all but the last 10 observations
test_data = filtered_data.iloc[train_size:]

In [142]:
train_size

10

In [143]:
train_size

10

In [144]:
# Calculate the correlation matrix
correlation_matrix = train_data.corr()

# Display the correlation matrix
print(correlation_matrix)

                 season  total_runs  total_matches  balls_played  boundaries
season         1.000000   -0.179983      -0.238242     -0.138196   -0.229633
total_runs    -0.179983    1.000000       0.737986      0.949406    0.904463
total_matches -0.238242    0.737986       1.000000      0.588402    0.706449
balls_played  -0.138196    0.949406       0.588402      1.000000    0.752044
boundaries    -0.229633    0.904463       0.706449      0.752044    1.000000

In [145]:
from statsmodels.tsa.api import VAR

# Fit the VAR model
model = VAR(train_data)

# Select optimal lag order

# Train the model using the selected lag order
optimal_lag = lag_order.selected_orders['aic']  # Select based on AIC
optimal_lag = 5
results = model.fit(optimal_lag)

# Print model summary
print(results.summary())

ModuleNotFoundError: No module named 'statsmodels'

In [146]:
print("Optimal Lag Selected:", optimal_lag)
print("Train Data Shape:", train_data.shape)

NameError: name 'optimal_lag' is not defined

In [147]:
# Ensure lag order is valid
optimal_lag = min(optimal_lag, len(train_data) - 1)

# Refit model if necessary
if results.k_ar != optimal_lag:
    results = model.fit(optimal_lag)

# Forecast
forecast_steps = len(test_data)
forecast = results.forecast(train_data.values[-optimal_lag:], steps=forecast_steps)

# Convert to DataFrame
forecast_df = pd.DataFrame(forecast, columns=train_data.columns, index=test_data.index)

print("Forecast Results:")
print(forecast_df)

NameError: name 'optimal_lag' is not defined

In [148]:
filtered_data

    season  total_runs  total_matches  balls_played  boundaries
0     2008          37              3            42           3
1     2009          27              5            20           4
2     2010          45              7            51           1
3     2011          75              9            49          10
4     2012          17              5            20           1
5     2013          97              6            96           9
6     2014           8              2             7           0
7     2015           8              4            10           0
8     2016           4              2            14           0
9     2017          55              6            52           4
10    2018           1              1             2           0
11    2019          27              4            24           2
12    2023          19              1            30           2

In [149]:
grouped['strike_rate'] = round((grouped['total_runs'] / grouped['balls_played']) * 100,2)
grouped['avg_runs_per_match'] = round(grouped['total_runs'] / grouped['total_matches'],2)
grouped['avg_balls_per_match'] = round(grouped['balls_played'] / grouped['total_matches'],2)
grouped['boundary_percentage'] = round((grouped['boundaries'] / grouped['balls_played']) * 100,2)